h2{
    position: relative;
    left: 50%;
    color: rgb(73, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section {
    border: 2px black solid;
    width: 32%;
    margin-left: 18px;
    margin-top: 18px;
    float: left;
    background-color: gray;
    position: relative; 
    height: 150px;
    box-sizing: border-box;
}

h5 {
    position: absolute;
    right: 0;
    font-size: 17px;
    background-color: red;
    border: 1px black solid;
    width: 100px;
    height: 20px;
    padding: 1px;
    margin: 0; 
    text-align: center;
}
p{
    margin: 30px 10px;
}
#Chiken{
    background-color: lightpink;
}
#Beef{
    background-color: maroon;
    color: #fff;
}
#Sushi{
    background-color: burlywood;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%;
        float: left;
        margin-left: 10px; 
        margin-bottom: 10px;
    }

    .section-3 {
        clear: both;
        float: left;
        width: 96%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .section {
        width: 100%;
        float: none;
        clear: both;
        margin-top: 10px;
    }
}
